#IntelliJ IDEA
/*.iml
/.idea/
/build/
/out/
/release/
/src/META-INF/

#Eclipse
/bin/

#NetBeans
/build/
/dist/
/history
/manifest.mf
/nbproject/genfiles.properties
/nbproject/private/

#VSCode
/.history/*

#OS
/.DS_Store
/thumbs.db

#LibreOffice
/.~lock.*

#Generic
/*.bak
/manifests/
/TEMP
/TODO

#Project
/qoi_test_images/
/temp.qoi
/qoi_benchmark_suite/
/images-lance/
/images-pixelart-tiles/

